@use 'colors' as *;

$header: 60px;
$background: 1020px;

// Margin and Padding sizes

$xs: 5px;
$s: 10px;
$m: 15px;
$l: 20px;
$xl: 30px;
$xxl: 50px;
$xxxl: 75px;
$fat: 100px;
$xfat: 150px;

// Media sizes

$mobile-small-width: 320px;
$mobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 1025px;
$desktop-width: 1440px;
$qhd-width: 2560px;

// Fonts

$f-xs: "0.7rem";
$f-s: "0.9rem";
$f-m: "1.2rem";
$f-l: "1.5rem";
$f-xl: "2rem";
$f-xxl: "2.5rem";
$f-fat: "3rem";

$v-xs: "0.2vw";
$v-s: "0.4vw";
$v-m: "0.5vw";
$v-l: "0.8vw";
$v-xl: "1vw";

// highlights

$highlight: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, $c-charlie 50%);
$highlightSmall: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, $c-charlie 50%);