body {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    line-height: 1.6;
}

h1 {
    @include fsize (2rem, 1vw);
}

h2 {
    @include fsize (1.5rem, 0.5vw);
    text-transform: uppercase;
}

h3 {
    @include fsize (1.2rem, 0.4vw);
}

h4 {
    @include fsize (0.9rem, 0.3vw);
}

p, a, label, i, ul {
    @include fsize (0.9rem, 0.2vw);
    line-height: 2.2rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}