@use '../_abstracts/index' as *;

//gsap 

.bground {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: $c-echo;
    overflow: hidden;
}
.slide {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: $c-charlie;
    transform: translateX(-100%);
    overflow: hidden;
}

.logo__enter { // gsap start logo
    position: fixed;
    z-index: 1100;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

@include tablet {
    .logo__enter { // gsap start logo
        width: 250px;
    }
}

