@use '../_abstracts/index' as *;

.phone {
    display: none;
    }

@include laptop {

    .phone {
        @include fsize ($f-s);
        position: absolute;
        right: 30px;
        opacity: 0;

        &:hover>&__icon {
            color: $c-charlie;
        }

        &__icon {
            @include fsize ($f-xs);
            margin-right: $s;
            color: $c-echo;
            transition: color .3s;
        }
    }
}