@use '../_abstracts/index' as *;

.top { // top of header
    position: fixed;
    width: 100%;
    height: $header;
    background: $c-charlie;
    z-index: 100;
}

@include laptop {
    .top {
        background: transparent;
    }
}