@use '../_abstracts/index' as *;

#gallery:target {
    scroll-margin-top: 30px;
}

.gallery {
    position: relative;
    padding: $xxxl 0;

    &__title {
        padding-bottom: $xxxl;
    }
}

@include tablet {
    .gallery {
        padding: $xfat 0;
    
        &__title {
            padding-bottom: $xxxl;
        }
    }
}

@include laptop {
    .gallery {
        position: relative;
        display: flex;
        padding: $xxxl 0 $xl 0;

        &__title {
            @include fsize($f-xl, $v-xl);
            display: inline-block;
            margin: 0 auto;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
    }
}