@use '../_abstracts/index' as *;

#news:target {
    scroll-margin-top: 30px;
}

.news {
    padding: $xxl;
    padding-bottom: $l;

    &__title {
        padding-bottom: $xxl;
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;   
    }

    &__box {
        position: relative;
        // margin: $l;
        // padding: $m $l;
        width: 420px;
        max-height: 720px;
        margin-bottom: $xxl;
    }

    &__image {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: $xl;
    }

    &__name {
        padding-bottom: $l;
    }

    &__content {
        display: inline-block;
        overflow: hidden;
        max-height: 40%;
    }

    &__data {
        display: inline-block;
        padding-bottom: $s;
    }

    &__more {
        @include fsize ($f-xs, $v-xs);
        display: inline-block;
        text-align: center;
        line-height: 40px;
        position: relative;
        bottom: -20px;
        width: 100px;
        height: 40px;
        background: $c-echo;
        border: none;
        letter-spacing: 1px;
        cursor: pointer;
        color: $c-charlie;
        transition: background .3s;
        // float: right;

        @include hocus {
            background: $c-foxtrot;
        }
    }
}

@include mobile-big {
    .news {
        &__box {
            padding: $m $l;
            margin: $l;
        }
    }
}

@include tablet {
    .news {
        padding-top: $fat;
        padding-bottom: $xxl;

        &__box {
        margin-bottom: $xxxl;
        }
    }
}