@use '../_abstracts/index' as *;

.splide { //centering gallery
    margin: 0 auto;
}

.splide__arrow>svg {
    fill: $c-echo !important;
}

.splide__pagination__page {
    margin: 0 $s !important;
    visibility: hidden;
}

.splide__pagination__page.is-active {
    background: $c-echo !important;
}

@include tablet {
    .splide {
        position: relative;
    }
}

@include laptop {
    .splide {
            margin-right: 0;
        }

        .splide__track {
            padding: $xl 0;
        }
}