@use '../_abstracts/index' as *;

.title {
    @include fsize($f-xxl, $v-l);
    font-weight: bold;
    line-height: 3.2rem;
    color: $c-echo;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
}

@include tablet {
    .title {
        @include fsize($f-xxl, $v-l);
    }
}

@include laptop {
    .title {
        @include fsize($f-xl, $v-xl);
        padding-bottom: $xxl;
    }
}