@mixin wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;

    @media (max-width: 320px) {
        padding: 0 10px;
    }

    @media (max-width: 768px) {
        padding: 0 15px;
    }

    @media (min-width: 768px) {
        padding: 0 30px;
    }

    @media (min-width: 1024px) {
        padding: 0 50px;
    }

    @media (min-width: 1440px) {
        padding: 0 30px;
    }


}

.wrapper {
    @include wrapper;
}

@mixin container {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    @include container;
}