// VARS
@import './00_helpers/00_variables/01_colors';
@import './00_helpers/00_variables/02_variables';

// MIXINS
@import './00_helpers/01_mixins/01_hocus';
@import './00_helpers/01_mixins/02_center';
@import './00_helpers/01_mixins/03_wrapper';
@import './00_helpers/01_mixins/04_fsize';
@import './00_helpers/01_mixins/05_overlay';
@import './00_helpers/01_mixins/06_pseudo';
@import './00_helpers/01_mixins/07_box';
@import './00_helpers/01_mixins/08_cover-bg';
@import './00_helpers/01_mixins/09_media';
@import './00_helpers/01_mixins/10_padding-margin';

//COMPONENTS
@import './00_helpers/02_components/01_buttons';
@import './00_helpers/02_components/02_span';
@import './00_helpers/02_components/03_mouseScroll';
@import './00_helpers/02_components/04_underline';
@import './00_helpers/02_components/05_hide';

// BASE
@import './01_base/00_reset';
@import './01_base/01_typography';
@import './01_base/02_fonts';

// HAMBURGER
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";


// ----------------------------------------- //
// # MOBILE
// ----------------------------------------- //


//gsap 
.bground {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: $c-echo;
    overflow: hidden;
}
.slide {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: $c-charlie;
    transform: translateX(-100%);
    overflow: hidden;
}

.logo__enter { // gsap start logo
    position: absolute;
    z-index: 1100;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
// gsap end

body {
    background:$c-charlie; 
}

.lock { // LOCK SCROLLING FOR MENU
    overflow-y: hidden;
    height: 100vh;
}

.top { // top of header
    position: fixed;
    width: 100%;
    height: $header;
    background: $c-charlie;
    z-index: 100;
}

.logo {
    z-index: 100;
}

.color {
    color: $c-alfa;
}

.upper { // container
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 500;
    outline: transparent;
    &__name {
       display: none;
    }
}

.logo { //temp logo
    position: absolute;
    top: -22px;
    left: 12px;
    width: 100px;
    height: 100px;

    @include laptop {
        top: -50px;
        left: 24px;
        width: 200px;
        height: 200px;
    }
}

.navigation {
    &__list {
        display: flex;
        flex-direction: column;
        position: fixed;
        padding-top: 200px;
        top: 0;
        left: 0;
        line-height: 3rem;
        width: 100vw;
        height: 100vh;
        background: $c-echo;
        list-style: none;
        text-transform: uppercase;
        pointer-events: none;
        opacity: 0;
        transition: opacity .5s;
    }

    .menu-active {
        opacity: 1;
        pointer-events: all;
    }
    &__item-link {
        @include fsize($f-l);
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 3rem;
        color: $c-alfa;
        padding: 0 0 0 $m;
        letter-spacing: 2px;
        transition: color .5s;

        @include hocus {
            color: $c-delta;
        }
    }
}

.hero {
    position: relative;
    top: $header;
    padding-top: $xl;
    background: $c-charlie;
    color: $c-echo;
}

.textbox {
    position: relative;
    padding-bottom: $xl;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 10;
    
    &__small {
        @include fsize ($f-s, $v-s);
         line-height: 1.6rem;
         padding-bottom: $xl;
         text-align: left;
         max-width: 660px;
    }
    &__big {
        @include fsize ($f-m, $v-xl);
        position: relative;
        display: inline;
        line-height: 3.2rem;
        color: $c-echo; 
        background: $highlight;
    }
}

.background {
    position: relative;
    background-position: top right;
    display: block;
    width: 100%;
    height: 400px;
    background-image: url('../../img/001.jpg');
    @include cover-background;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    filter: grayscale(35%) brightness(0.8);
}

.title {
    @include fsize($f-m, $v-xl);
    display: inline;
    font-weight: bold;
    line-height: 3.2rem;
    color: $c-echo;
    text-transform: uppercase;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.mobile {
    position: relative;
    width: 100%;
    height: 250px;
    background: $c-delta;
    margin-bottom: $l;

    &__title {
        @include fsize ($f-l, $v-m);
        padding-bottom: $l;
    }

    &__subtitle {
        @include fsize ($f-m, $v-s);
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        top: 50%;
        transform: translateY(50%);
    }

    &__number {
        @include fsize ($f-xl, $v-xl);
    }
}


.services {
    position: relative;
    background: $c-charlie;
    margin-top: $xxxl;
    padding: $l;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: $xxl;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
    }
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: $c-charlie;
    color: $c-echo;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: $l $xl;
    transition: background .5s, color .5s;

    &:hover {
        background: $c-echo;
        color: $c-alfa;
    }

    &:hover>&__wrap {
        padding-top: $s;
    }

    &__name {
        @include fsize($f-m, $v-m);
        padding-top: $xl;
    }

    &__content {
        @include fsize($f-s, $v-xs);
        padding-top: $xl;
        padding-bottom: $l;
    }

    &__icon {
        font-size: 48px;
        padding-top: $xl;
    }

    &__wrap {
        padding-top: $l;
        transition: padding-top .5s;
    }
}

.about {
    @include cover-background;
    padding: $l 0;
    height: 50vh;
    background: $c-delta;
    filter: grayscale(40%);
    background-attachment: fixed;

    &::before {
        content: '';
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.60);
        z-index: -1;

    }
    &__title {
        color: $c-charlie;
    }
    &__content {
        margin: $l 0;
        color:$c-charlie;
    }
}

.gallery {
    padding: $l 0;
    height: 100vh;
    &__title {

    }
}

// ----------------------------------------- //
// # MOBILE 480px
// ----------------------------------------- //

@include mobile-big {
    .textbox {
        &__big {
            @include fsize ($f-l, $v-xl);
            line-height: 3.6rem;
        }
    }
    .background {
        height: 500px;
    }
}
// ----------------------------------------- //
// # TABLET 768px
// ----------------------------------------- //
@include tablet {
    .background {
        height: 650px;
    }

    .services {
        margin-top: 0;
    }

    .box {
        width: 450px;
    }
}

// ----------------------------------------- //
// # LAPTOP 1025px
// ----------------------------------------- //

@include laptop {

    .header {
        min-height: 100%;
    }

    .hamburger {
        position: fixed;
        top: 42px;
        right: 50%;

        &__name {
            @include fsize($f-xs);
            display: inline-block;
            color: $c-echo;
            font-weight: bold;
            position: relative;
            padding-right: $s;
            bottom: 4px;
            left: 10px;
            letter-spacing: 1px;
        }
        .hamcolor { 
            color: $c-charlie;
        }
    }

    .top {
        background: transparent;
    }

    .navigation {
        &__item {
            @include container;
            width: 100%;
        }
        &__item-link {
            @include fsize($f-xl);
            padding: 0 $xl;
            letter-spacing: 4px;
            line-height: 5rem;
        }
    }

    .hero {
        padding: $xxl 0;
    }

    .textbox {
        width: 50%;
        min-height: calc(#{$background} - #{$header}); // same height as .background
        padding-top: $xxxl;
        letter-spacing: 1px;

        &__small {
            line-height: 2rem;
            padding-bottom: $xxl;
        }

        &__big {
            @include fsize ($f-l, $v-xl);
            line-height: 5rem;
        }
    }
    .background {
        position: absolute;
        left: 50%;
        top: calc(-#{$header}); // .background stick the top
        max-width: 1100px;
        width: 50%;
        height: $background;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0;left: 0;right: 0;left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .services {
        padding-top: 0;
    }

    .box {
        width: 400px;
        height: 400px;
        &__name {
            @include fsize($f-s, $v-m);
        }
        &__content {
            padding-bottom: 0;
        }
    }
    
}