// VARS
@import './00_helpers/00_variables/01_colors';
@import './00_helpers/00_variables/02_variables';

// MIXINS
@import './00_helpers/01_mixins/01_hocus';
@import './00_helpers/01_mixins/02_center';
@import './00_helpers/01_mixins/03_wrapper';
@import './00_helpers/01_mixins/04_fsize';
@import './00_helpers/01_mixins/05_overlay';
@import './00_helpers/01_mixins/06_pseudo';
@import './00_helpers/01_mixins/07_box';
@import './00_helpers/01_mixins/08_cover-bg';
@import './00_helpers/01_mixins/09_media';
@import './00_helpers/01_mixins/10_padding-margin';

//COMPONENTS
@import './00_helpers/02_components/01_buttons';
@import './00_helpers/02_components/02_span';
@import './00_helpers/02_components/03_mouseScroll';
@import './00_helpers/02_components/04_underline';
@import './00_helpers/02_components/05_hide';

// BASE
@import './01_base/00_reset';
@import './01_base/01_typography';
@import './01_base/02_fonts';

// HAMBURGER
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";


// ----------------------------------------- //
// # MOBILE
// ----------------------------------------- //

body {
    background:$c-charlie; //temp
}

.top { // top of header
    position: fixed;
    width: 100%;
    height: $header;
    background: $c-charlie;
    z-index: 100;
}

.logo {
    &__link{ //temp
        @include fsize($f-l);
        color: $c-echo;
        line-height: $header;
        text-transform: uppercase;
        z-index: 500;
        letter-spacing: 2px;
    } 
}

.color {
    color: $c-alfa;
}

.upper { // container
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 500;
    outline: transparent;
    &__name {
        display: none;
    }
}

.logo { //temp logo
    position: absolute;
    top: -22px;
    left: 12px;
    width: 100px;
    height: 100px;

    @include laptop {
        top: -46px;
        left: 21px;
        width: 200px;
        height: 200px;
    }
}

.navigation {
    &__list {
        display: flex;
        flex-direction: column;
        position: fixed;
        padding-top: 200px;
        top: 0;
        left: 0;
        line-height: 3rem;
        width: 100%;
        height: 100vh;
        background: $c-echo;
        list-style: none;
        text-transform: uppercase;
        pointer-events: none;
        opacity: 0;
        transition: opacity .6s;
    }

    .menu-active {
        opacity: 1;
        pointer-events: all;
    }
    &__item-link {
        @include fsize($f-l);
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 3rem;
        color: $c-alfa;
        padding: 0 0 0 $m;
        letter-spacing: 2px;
        transition: color .5s;

        @include hocus {
            color: $c-delta;
        }
    }
}

.hero {
    position: relative;
    top: $header;
    padding-top: $xl;
    background: $c-charlie;
    color: $c-echo;
}

.textbox {
    position: relative;
    padding-bottom: $xl;
    // letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 10;
    
    &__small {
        @include fsize ($f-s, $v-s);
         line-height: 1.6rem;
         padding-bottom: $xl;
         text-align: left;
         max-width: 660px;
    }
    &__big {
        @include fsize ($f-m, $v-xl);
        position: relative;
        display: inline;
        line-height: 3.2rem;
        color: $c-echo; 
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, $c-delta 50%);
    }
}

.background {
    @include cover-background;
    background-position: top right;
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    background-image: url('../../img/08electrician-installer-with-tool-his-hands-working-with-cable-construction-site.jpg');
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10%);
    filter: grayscale(35%);
}

// ----------------------------------------- //
// # MOBILE 480px
// ----------------------------------------- //

@include mobile-big {
    .textbox {
        &__big {
            @include fsize ($f-l, $v-xl);
            line-height: 3.6rem;
        }
    }
}

// ----------------------------------------- //
// # LAPTOP 1024px
// ----------------------------------------- //

@include laptop {
    $background: 800px;// height of HERO
    .hamburger {
        position: absolute;
        top:50px;
        left: 35%;
        &__name {
            @include fsize($f-xs);
            display: inline-block;
            color: $c-echo;
            font-weight: bold;
            position: relative;
            padding-right: $s;
            bottom: 4px;
            left: 10px;
            letter-spacing: 1px;
        }
        .hamcolor { 
            color: $c-charlie;
        }
    }
    .top {
        background: transparent;
    }

    .navigation {
        &__item {
            @include container;
            width: 100%;
        }
        &__item-link {
            @include fsize($f-xl);
            padding: 0 $xl;
            letter-spacing: 4px;
            line-height: 5rem;
        }
    }

    .hero {
        padding: 0;
    }
    .textbox {
        width: 50%;
        height: calc(#{$background} - #{$header}); // same height as .background
        padding: $xxxl 0;
        letter-spacing: 1px;

        &__small {
            line-height: 2rem;
            padding-bottom: $xxl;
        }

        &__big {
            @include fsize ($f-l, $v-xl);
            line-height: 5rem;
        }
    }
    .background {
        position: absolute;
        right: 0;
        top: calc(-#{$header}); // .background stick the top
        height: $background;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
        width: 50%;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0;left: 0;right: 0;left: 0;
            width: 100%;
            height: 100%;
        }
    }
}